**/secret/**      filter=crypt diff=crypt merge=crypt
**/[0-9]secret/**      filter=crypt diff=crypt merge=crypt
**/[0-9][.-]secret/**  filter=crypt diff=crypt merge=crypt
**/[0-9][.-]secrets/** filter=crypt diff=crypt merge=crypt
secret            filter=crypt diff=crypt merge=crypt
*[.-]secret       filter=crypt diff=crypt merge=crypt
secret[.-]*       filter=crypt diff=crypt merge=crypt
*[.-]secret[.-]*  filter=crypt diff=crypt merge=crypt
/.gitattributes   !filter !diff !merge
/.gitignore       !filter !diff !merge
/bin/*            !filter !diff !merge
