[defaults]
inventory = inven-all
roles_path = roles-galaxy:roles-all:roles-temp

force_handlers = true
command_warnings = false
retry_files_enabled = false
host_key_checking = false

gathering = smart
fact_caching = jsonfile
fact_caching_connection = .fact-cache
fact_caching_timeout = 300

[ssh_connection]
pipelining = true
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s  -o ForwardAgent=yes -F files/secret/ssh.config

